/* FONTS */

@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap");

/* GLOBAL STYLES */

:root {
  --font-primary: 'Patrick Hand', sans-serif;
  --font-secondary: 'Patrick Hand', serif;
  --font-code: 'Patrick Hand', monospace;
  --bg-color:#9ee1dd;
  --font-color: #ffffff;
  --btn-bg-color: #ffffff;
  --accent-color: #0b72e7;
  --header-shadow: #000 0px 0px 5px;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--bg-color);
    display: flex;
    flex-flow: column;
    height: 100vh;
    color: var(--font-color);
    font-family: var(--font-primary);
   
    
  }
.navbar{
    background: #9ee1dd;
    color: #ffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 45px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    
}
.nav--hidden {
    transform: translateY(-105px);
  }

.primary-logo {
    height: 100px;
}

.nav-list{
    list-style-type: none;
   
}

.list-item{
    display: inline-block;
    padding: 20px 10px;

}

.navbar a {
    color: #ffff;
    text-decoration: none;
}

.navbar a:hover {
    color: #000;
}

.socials {
    display: inline-block;
    padding: 20px 10px;
    align-items: center;
}

.socials-logo a:hover{
    color: #000;
}
.dropdown {
    display: none;
}

.dropdown-line {
    width: 20px;
    height: 3px;
    background-color: #ffff;
    margin-bottom: 4px;
}

.card {
    position:relative;
    color: white;
    vertical-align: middle;
    display: inline-block;
  }


 /* Centered text */



 .centered {
    position: absolute;
    top: 20%;
    left: 45%;
    transform: translate(-50%, -55%);


  }



.centered-desc {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-35%, -50%); 
    
  }
  

#img1 img {
    max-width: 100%;
    float: left;
  }
#img2 img {
  max-width: 100%;
    float: left;
  }
#img3 img {
    max-width: 100%;
      float: left;
    }
#img4 img {
    max-width: 100%;
      float: left;
      
    }
#img5 img {
    max-width: 100%;
    float: left;
   
    }

    

@media all and (max-width: 313px) {
    .navbar{
        flex-direction: column;
        position: relative;
        font-size: 20px;
    }
    .primary-logo {
        width: 80%;
        height: 50px;
    }
    .dropdown {
      display: block;
      position: absolute;
      right: 10px;
      top: 15px;
    }
    .nav-list{
        list-style-type: none;
        width: 100%;
        text-align: center;
        padding-top: 10px;
        display: none;
    }
    .list-item{
        display: block;
        padding: 20px 10px;
        border: 1px solid white;
    }

    .active {
        display: block;
    }
   

  }

@media all and (max-width: 480px) {
    .navbar{
        flex-direction: column;
        position: relative;
        font-size: 20px;
    }
    .primary-logo {
        width: 50%;
        height: 30px;
    }
    .socials {
        flex-direction: column;
        padding: 10px 10px;
    }
    

      
   /* .dropdown {
      display: block;
      position: absolute;
      right: 10px;
      top: 10px;
    }
    .nav-list{
        list-style-type: none;
        width: 100%;
        text-align: center;
        padding-top: 10px;
        display: none;
    }
    .list-item{
        display: block;
        padding: 20px 10px;
        border: 1px solid white;
    }

    .active {
        display: block;
    }*/

  }

  @media all and (max-width: 650px) {
    .navbar{
        flex-direction: column;
        position: relative;
    }
    .primary-logo {
        width: 100%;
        height: 50px;
    }
    
}

@media all and (max-width: 970px) {
    .navbar{
        flex-direction: column;
        position: relative;
        font-size: 25px;
    }
    .primary-logo {
        width: 100%;
        height: 50px;
    }
}

@media all and (max-width: 1200px) {
    .navbar{
        position: relative;
        font-size: 25px;
    }
    .primary-logo {
        width: 100%;
        height: 50px;
    }
}



footer{
    background-image: url(/images/faq-main.png);
    background-size: 100%;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
    text-align: center;
    padding-bottom: 20px;
    background-color: #9ee1dd!important;
  }

  .footer-txt{
    text-align: center;
    padding-top: 350px;
    font-size: 35px;
      
  }


/* FAQ Collapsible */

.collapsible {
    background-image: url(/images/test-plus\ \(1\).png);
    color: #ffff;
    background-repeat: no-repeat;
    background-color: transparent;
    font-family: var(--font-primary);
    cursor: pointer;
    margin: auto;
    cursor: pointer;
    margin: auto;
    padding-left: 5%;
    padding-bottom: 1%;
    width: 67%;
    height: 160px;
    border: none;
    text-align: left;
    align-content: center;
    justify-content: center;
    font-size: 60px;
    transform: translate(1%, 120%);
  }

.active,
.collapsible:active{
  background-image: url(/images/test-minus.png);
  background-repeat: no-repeat;
  background-color: transparent;
  margin: auto;
  padding-left: 5%;
  padding-bottom: 1%;
  cursor: pointer;
}
 
 

  .faq-content {
    padding: 0 18px;
    display: block;
    overflow: hidden;
    background-color: black;
    text-align: left;
    margin: auto;
    display: none;
    overflow: hidden;
    width: 65%;
    background-color: #9ee1dd;
    align-content: center;
    justify-content: center;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-left-style: solid;
    border-left-color: #000000;
    border-left-width: 10px;
    border-right-style: solid;
    border-right-color: #000000;
    border-right-width: 10px;
    border-bottom-style: solid;
    border-bottom-color: #000000;
    border-bottom-width: 10px;
    border-top-style: solid;
    border-top-color: #000000;
    border-top-width: 10px;
    position: relative;
    font-size: 20px;
    left: 5px;
    top: 100px;
    transform: translate(1%, 120%);
  }
  /* .collapsible:after {
    content: '\02795';  Unicode character for "plus" sign (+) 
    font-size: 13px;
    color: white;
    float: right;
    margin-left: 20px;
  }
  
  .active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-)
  } */

  .container {
      width: 100%;
      max-width: 80rem;
      margin: 0 auto;
      padding: 0 1.5rem;
  }

  .accordian-item{
      background-color: #283042;
      text-align: center;
      border-radius: .4rem;
      margin-bottom: 1rem;
      padding: 1rem;
      box-shadow: .5rem 2px .5rem rgba(0,0,0, .1);

     }

    .accordian-link {
        font-size: 1.6rem;
        color: rgba(255,255,255, .8);
        text-decoration: none;
        background-color: #283042;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem 0;

    }

    .accordian-link i {
        color: #e7d5ff;
        padding: .5rem;
    }

   .answer{
       max-height: 0;
       overflow: hidden;
       position: relative;

   }

 /* Accordion  */

.accordion {
    width: 800px;
    position: absolute;
    bottom: -400%;
    left: 50%;
    transform: translate(-50%, -55%);

 
}

.accordion .contentBx {
    position: relative;
    margin: 10px 20px;
}


.accordion .contentBx .label {
    position: relative;
    padding: 10px;
    background: #2694af;
    color: #ffff;
    cursor: pointer;

}

.accordion .contentBx .label::before
{
    content: '+';
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 2em;

}


.accordion .contentBx.active .label::before
{
    content: '-';
}

.accordion .contentBx .content {
    position: relative;
    padding: 5px;
    background: black;
    height: 0;
    overflow: hidden;
    transition: 0.5s;
    overflow-y: auto;
}

.accordion .contentBx.active .content 
{
    height:150px;
    padding: 10px;
}


