/* FONTS */

@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap");

/* GLOBAL STYLES */

:root {
  --font-primary: 'Patrick Hand', sans-serif;
  --font-secondary: 'Patrick Hand', serif;
  --font-code: 'Patrick Hand', monospace;
  --bg-color:#9ee1dd;
  --font-color: #ffffff;
  --btn-bg-color: #ffffff;
  --accent-color: #0b72e7;
  --header-shadow: #000 0px 0px 5px;
}
.socials-logo{
    margin-top:20px !important;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
@media (min-width:520px){
  .primary-logo {
    width: 220px !important;
    height: 60px !important;
    margin-top: 17px;
}
}
@media (max-width:520px){
  .primary-logo {
    width: 150px !important;
    height: 40px !important;
}
  .collapsible{
    height: 70px !important;
    transform: translate(1%, 120%) !important;
    width: 250px !important;
    padding-bottom: 15% !important;
  }
  .faq-content{
    width: 240px !important;
    top: -19px !important;
  }
  .ien{
    margin-top: -65px !important;
  }
  .ide{
    margin-top: -130px !important;
  }
}
@media (max-width:920px) and (min-width:520px){
  .collapsible{
    height: 70px !important;
    transform: translate(1%, 120%) !important;
    width: 400px !important;
    padding-bottom: 6% !important;
  }
  .faq-content{
    width: 390px !important;
    top: -6px !important;
  }
  .ien{
    margin-top: -35px !important;
  }
  .ide{
    margin-top: -65px !important;
  }
}
@media (max-width:2920px) and (min-width:920px){
  .collapsible{
   font-size: 35px !important;
    transform: translate(1%, 120%) !important;
    width: 800px !important;
    padding-bottom: 70px !important;
  }
  .faq-content{
    width: 780px !important;
    top: 36px !important;
  }
  .ien{
    margin-top: 12px !important;
  }
  .ide{
    margin-top: -25px !important;
  }
}
body {
    background-color: var(--bg-color);
    display: flex;
    flex-flow: column;
    height: 100vh;
    color: var(--font-color);
    font-family: var(--font-primary);
   
    
  }
.navbar{
    background: #9ee1dd;
    color: #ffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 45px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    
}
.nav--hidden {
    transform: translateY(-105px);
  }

.primary-logo {
    height: 100px;
}

.nav-list{
    list-style-type: none;
   
}

.list-item{
    display: inline-block;
    padding: 20px 10px;

}

.navbar a {
    color: #ffff;
    text-decoration: none;
}

.navbar a:hover {
    color: #000;
}

.socials {
    display: inline-block;
    padding: 20px 10px;
    align-items: center;
}

.socials-logo a:hover{
    color: #000;
}
.dropdown {
    display: none;
}

.dropdown-line {
    width: 20px;
    height: 3px;
    background-color: #ffff;
    margin-bottom: 4px;
}

.card {
    position:relative;
    color: white;
    vertical-align: middle;
    display: inline-block;
  }


 /* Centered text */



 .centered {
    position: absolute;
    top: 20%;
    left: 45%;
    transform: translate(-50%, -55%);


  }



.centered-desc {
    position: absolute;
    top: 20%;
    left: 48%;
    transform: translate(-35%, -50%); 
    
  }
  

#img1 img {
    max-width: 100%;
    float: left;
  }
#img2 img {
  max-width: 100%;
    float: left;
  }
#img3 img {
    max-width: 100%;
      float: left;
    }
#img4 img {
    max-width: 100%;
      float: left;
      
    }
#img5 img {
    max-width: 100%;
    float: left;
   
    }



footer{
    background-image: url(/images/faq2.png);
    background-size: 100%;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
    text-align: center;
    padding-bottom: 20px;
    background-color: #9ee1dd!important;
  }

  .footer-txt{
    text-align: center;
    padding-top: 350px;
    font-size: 35px;
      
  }

/* FAQ Collapsible */

.collapsible {
    background-image: url(/images/FAQ_Button1.png);
    color: #ffff;
    background-repeat: no-repeat;
    background-color: transparent;
    font-family: var(--font-primary);
    cursor: pointer;
    margin: auto;
    padding-left: 5%;
    padding-bottom: 1%;
    width: 67%;
    height: 160px;
    border: none;
    text-align: left;
    align-content: center;
    justify-content: center;
    font-size: 30px;
    transform: translate(1%, 120%);
  }

.collapsible{
    background-size: contain!important;

  }
.active,
.collapsible:active{
  background-image: url(/images/FAQ__Button2.png);
  background-repeat: no-repeat;
  background-color: transparent;
  margin: auto;
  padding-left: 5%;
  padding-bottom: 1%;
  cursor: pointer;
}
 
.faq-content {
    padding: 0 18px;
    display: block;
    overflow: hidden;
    background-color: black;
    color: #000;
    text-align: left;
    margin: auto;
    display: none;
    overflow: hidden;
    width: 65%;
    background-color: #9ee1dd;
    align-content: center;
    justify-content: center;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-left-style: solid;
    border-left-color: #000000;
    border-left-width: 10px;
    border-right-style: solid;
    border-right-color: #000000;
    border-right-width: 10px;
    border-bottom-style: solid;
    border-bottom-color: #000000;
    border-bottom-width: 10px;
    border-top-style: solid;
    border-top-color: #000000;
    border-top-width: 10px;
    position: relative;
    font-size: 20px;
    left: 1px;
    top: 93px;
    transform: translate(1%, 120%);
  }



  .div-footer {
    background-image: url("/images/faq2.png");
    background-size: 100%;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
    text-align: center;
  }

  /* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #9ee1dd;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  font-size: 80px;
  text-align: center;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: black;
  float: right;
  font-size: 90px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
 

  @media all and (max-width: 313px) {
    .navbar{
        flex-direction: column;
        position: relative;
        font-size: 20px;
    }
    .primary-logo {
        width: 80%;
        height: 50px;
    }
    .dropdown {
      display: block;
      position: absolute;
      right: 10px;
      top: 15px;
    }
    .nav-list{
        list-style-type: none;
        width: 100%;
        text-align: center;
        padding-top: 10px;
        display: none;
    }
    .list-item{
        display: block;
        padding: 20px 10px;
        border: 1px solid white;
    }

    .active {
        display: block;
    }
   
  }




@media all and (max-width: 480px) {
    .navbar{
        flex-direction: column;
        position: relative;
        font-size: 20px;
    }
    .primary-logo {
        width: 50%;
        height: 30px;
    }
    .socials {
        flex-direction: column;
        padding: 10px 10px;
    }
    .footer-txt{
        text-align: center;
        padding-top: 150px;
        font-size: 10px;
          
      }
      .collapsible{
        transform: translate(1%, 60%);
     
    }

  }

  @media all and (max-width: 650px) {
    .navbar{
        flex-direction: column;
        position: relative;
    }
    .primary-logo {
        width: 100%;
        height: 50px;
    }
    
}

@media (max-width: 670px) {
    .collapsible{
        height: 85px;
        font-size: 30px;
        transform: translate(1%, 60%);
    }
}

@media (max-width: 870px) {
    .collapsible{
        height: 85px;
        font-size: 35px
    }
}

@media all and (max-width: 970px) {
    .navbar{
        flex-direction: column;
        position: relative;
        font-size: 25px;
    }
    .primary-logo {
        width: 100%;
        height: 50px;
    }
    button.collapsible {
        font-size: 16px;
      }
      .footer-txt{
        text-align: center;
        padding-top: 170px;
        font-size: 20px;
          
      }
}

@media all and (max-width: 1400px) {
    .navbar{
        position: relative;
        font-size: 25px;
    }
    .primary-logo {
        width: 100%;
        height: 50px;
    }

    .collapsible{
        height: 100px;
        
    }
}
