/* FONTS */

@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap");

/* GLOBAL STYLES */

:root {
  --font-primary: 'Patrick Hand', sans-serif;
  --font-secondary: 'Patrick Hand', serif;
  --font-code: 'Patrick Hand', monospace;
  --bg-color:#0b72e7;
  --font-color: #ffffff;
  --btn-bg-color: #ffffff;
  --accent-color: #0b72e7;
  --header-shadow: #000 0px 0px 5px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@viewport {
  width: device-width ;
  zoom: 1.0 ;
}



body {
  background-color: var(--bg-color);
  display: flex;
  flex-flow: column;
  height: 100vh;
  color: var(--font-color);
  font-family: var(--font-primary);
}


/* HEADER */

header {
  box-shadow: var(--header-shadow);
}
.header-banner {
  position: fixed;
  left: 100;
  right: 0;
  display: flex;
  width: 104vw;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  transition: all .2s ease-in-out;
}

.header-banner-left {
  width: 160px;
  padding: 10px;
  margin-left: 4%;
}

.header-banner-right {
  display: flex;
  width: 460px;
  flex-direction: row;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
  margin-right: 10%;
}

.responsive {
  height: auto;
  width: 300%;


}
.card {
  position:relative;
  text-align: center;
  color: white;
  vertical-align: middle;
  display: inline-block;
}


#img1 img {
  max-width: 100%;
  float: left;
}
#img2 img {
max-width: 100%;
  float: left;
}
#img3 img {
  max-width: 100%;
    float: left;
  }

#img4 img {
  max-width: 100%;
    float: left;
  }
  
/* Centered text */
.centered {
  position: absolute;
  top: 32%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 250%;
}





header .container {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  height: auto;
  max-width: 100%;
  gap: 2rem;
  align-items: center;
  float:right;
 
}

/* BUTTONS */

.btn {
  display: inline-block;
  padding: 1rem 2rem;
  background: var(--btn-bg-color);
  color: var(--accent-color);
  font-family: var(--font-secondary);
  font-style: italic;
  font-weight: bold;
  font-size: 1rem;
  text-transform: capitalize;
  transition: all 0.3s ease;
  box-shadow: 4px 4px 0 0 var(--accent-color);
  cursor: pointer;
  position: relative;
  text-decoration: none;
  outline: none;
}
.btn:hover {
  box-shadow: none;
}

.wallet-btn {
  border-radius: 5rem;
  margin-left: 2rem;
  border-color: transparent;
  position: relative;
  right:0;
}

.hero-btn {
  border-radius: 4px;
  font-size: 1.2rem;
  padding: 1.5rem 3rem;
}

/* SKIN RARITY SECTION */

section {
  flex: 1 1 auto;
}






/* OWNER STYLES */

.owner-status {
  font-size: 2rem;
  text-align: center;
}

/* MEDIA QUERIES */

@media screen and (max-width: 375px) {
  .header-banner-left {
    width: 200px;
    padding: 2px;
    margin-left: 2%;
  }
  .menu {
    display: flex;
    height: auto;
    max-width: 30%;
    gap: 2rem;
    align-items: center;
}  
.wallet-btn{
  align-items: center;
}
}


@media screen and (max-width: 768px) {
  .menu {
    gap: 1rem;
    top: 70%;
  }
  .wallet-btn {
    margin-left: 0;
    padding: 1rem;
    max-width: 8rem;
  }
  .centered {
    position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 85%;
  }
  
}