/* FONTS */

@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap");

/* GLOBAL STYLES */

:root {
  --font-primary: 'Patrick Hand', sans-serif;
  --font-secondary: 'Patrick Hand', serif;
  --font-code: 'Patrick Hand', monospace;
  --bg-color:#0b72e7;
  --font-color: #ffffff;
  --btn-bg-color: #ffffff;
  --accent-color: #be7efe;
  --header-shadow: #000 0px 0px 5px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body {
  background-color: var(--bg-color);
  display: flex;
  flex-flow: column;
  height: 100vh;
  color: var(--font-color);
  font-family: var(--font-primary);
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 960px;
  margin: 0 auto;
  padding: 1rem 2rem;
}

.logo {
  position:absolute;
  top:0;
  left: 0;
}


/* HEADER */

header {
  box-shadow: var(--header-shadow);
}
.header-banner {
  position: fixed;
  left: 100;
  right: 0;
  display: flex;
  width: 104vw;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  transition: all .2s ease-in-out;
}

.header-banner-left {
  width: 120px;
  padding: 10px;
  margin-left: 4%;
}

.header-banner-right {
  display: flex;
  width: 460px;
  flex-direction: row;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
  margin-right: 10%;
}
.header-banner-right-socials img {
  max-width: 20%;
  padding-left: 3%;
  cursor: pointer;
  vertical-align: middle;
}

.card {
  position:relative;
  text-align: center;
  color: white;
  vertical-align: middle;
  display: inline-block;
}

#img1 img {
  max-width: 100%;
  float: left;
}
#img2 img {
max-width: 100%;
  float: left;
}

/* Centered text */
.centered {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 350%;
}

.centered-2 {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 200%;
}




header .container {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  gap: 2rem;
  align-items: center;
  float:right;
}

/* BUTTONS */

.btn {
  display: inline-block;
  padding: 1rem 2rem;
  background: var(--btn-bg-color);
  color: var(--accent-color);
  font-family: var(--font-secondary);
  font-style: italic;
  font-weight: bold;
  font-size: 1rem;
  text-transform: capitalize;
  transition: all 0.3s ease;
  box-shadow: 4px 4px 0 0 var(--accent-color);
  cursor: pointer;
  position: relative;
  text-decoration: none;
  outline: none;
}
.btn:hover {
  box-shadow: none;
}

.wallet-btn {
  border-radius: 5rem;
  margin-left: 2rem;
  border-color: transparent;
  position: relative;
  right:0;
}

.hero-btn {
  border-radius: 4px;
  font-size: 1.2rem;
  padding: 1.5rem 3rem;
}

/* SKIN RARITY SECTION */

section {
  flex: 1 1 auto;
}


.skin-rarity-1 {
  max-width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 3%;
  padding-bottom: 5%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  
}

.skins-image {
  position:relative;
  vertical-align: middle;
  display: inline-block;


}








/* OWNER STYLES */

.owner-status {
  font-size: 2rem;
  text-align: center;
}

/* MEDIA QUERIES */

@media screen and (max-width: 768px) {
  .menu {
    gap: 1rem;
  }
  .wallet-btn {
    margin-left: 0;
    padding: 1rem;
    max-width: 8rem;
  }
  .countdown h1 {
    font-size: 2rem;
  }
  .countdown p {
    font-size: 1rem;
  }
}
 
